<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zking.model.User" >
    <constructor >
      <idArg column="userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PASSWORD" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="salt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <resultMap id="user" type="com.zking.model.User" >

    <id column="userid" property="userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result column="username" property="username" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="salt" property="salt" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
  </resultMap>




  <sql id="Base_Column_List" >
    userid, username, PASSWORD, salt, createdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="user" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    where username = #{username}
  </select>
    <select id="selpermibyuname" resultType="java.lang.String">
select p.permission from t_sys_user u, t_sys_user_role ur,
t_sys_permission p,t_sys_role_permission rp where
u.userid=ur.userid and  ur.roleid=rp.roleid and rp.perid=p.perid
 and u.username=#{username}

    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sys_user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.model.User" >
    insert into t_sys_user (userid, username, PASSWORD, 
      salt, createdate)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.model.User" >
    insert into t_sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.model.User" >
    update t_sys_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.model.User" >
    update t_sys_user
    set username = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP}
    where username = #{username,jdbcType=INTEGER}
  </update>
</mapper>